/*Start*/
/*code by Amiroow*/
/*font*/
@font-face {
    font-family: iranyekanweb;
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/iranyekanwebregular.ttf');
}

@font-face {
    font-family: "offtest01";
    src: url('/fonts/Rezvan.ttf') format('truetype');
}

@font-face {
    font-family: "offtest02";
    src: url('/fonts/TitanOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "offtest03";
    src: url('/fonts/W_amin.TTF') format('truetype');
}

@font-face {
    font-family: "offtest04";
    src: url('/fonts/Persian-Sorkhpust.ttf') format('truetype');
}

@font-face {
    font-family: "offtest05";
    src: url('/fonts/Paprika.ttf') format('truetype');
}

/*end font*/
.clr {
    clear: both;
}

/*color*/
.bg-yellow {
    background-color: #ffee00;
}

.text-yellow {
    color: #ffee00;
}

.bg-blue {
    background-color: #0080ff;
}

.text-blue {
    color: #0080ff;
}

.bg-gr {
    background-color: #C1CDCD;
}

.text-gr {
    color: #C1CDCD;
}

.bg-whait {
    background-color: #ffffff;
}

.text-whait {
    color: #ffffff;
}

.bg-black {
    background-color: black;
}

.text-black {
    color: black;
}

.bg-darkred {
    color: #750202;
}

.text-darkred {
    color: #750202;
}

.bg-darkblue {
    color: #000066;
}

.text-darkblue {
    color: #000066;
}

/*end color*/
body {
    margin: 0;
    padding: 0;
    font-family: iranyekanweb !important;
    text-align: right !important;
}

#body {
    width: 100%;
    height: 100%;
    direction: rtl;
    margin: 0;
    padding: 0;
}

/*dropdown list*/
#header {
    width: 100%;
    height: 110px;
    margin-top: 3px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 50px;
    font-size: 20px;
    background: #ffffff;
    z-index: 7;
    border-bottom: 1px solid #d4d4d4;
}

#header .row {
    margin-right: -50px;
}

#header .col-lg-7 {
    margin: 0;
    padding: 0;
    position: relative;
    bottom: 13px;
    right: 145px;
}

.btn-01 {
    background: none;
    position: relative;
    padding: 7px 15px;
    font-size: 1.2em;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    top: 15px;
    transition: .3s;
    border: none;
}

.btn-01:hover, .btn-01:focus {
    background-color: #008dce;
    outline: none;
    color: white;
}

.drop-down {
    position: relative;
    display: block;
    margin: 0 7px;
}

.dropdowncontents {
    display: none;
    position: absolute;
    width: 200%;
    z-index: 100;
    background-color: #ffffff;
    margin: 15px 0 0 0;
    text-align: right;
    border: 2px solid #737a7a00;
    border-top: 5px solid #0090b4;
    transition: 1s;
    overflow: hidden;
}

.dropdowncontents:hover {
    border-left: 2px solid #00755c;
    border-bottom: 2px solid #009c7a;
    border-right: 2px solid #00c298;

}

.dropdowncontents a {
    color: #003042;
    padding: 10px;
    text-decoration: none;
    display: block;
    transition: .4s;
}

.dropdowncontents a:hover {
    text-decoration: none;
    color: #006781;
    background-color: #b9c5c579;
    border-left: 5px solid #008dce0e;
    transform: scale(1.2) translate(-22px);
}

.drop-down:hover .dropdowncontents {
    display: block;
}

/*end dropdown list*/
/*logo*/
#logo {
    position: relative;
    /*bottom: 32px;*/
    height: 40px;
}

/*end logo*/
/*about*/
#about {
    width: 100%;
    /*height: 185px;*/
    text-align: center;
    padding: 20px 0;
    position: relative;
    background-color: #08c;
    color: #fff3e0;
    margin-bottom: 50px;
}

#about h2 {
    margin-bottom: 17px;
    font-size: 2em;
}

#about p {
    font-size: 1.1em;
    font-weight: 700;
}

#about h4 {
    font-size: 1.5em;
    margin-top: 27px;
}

/*end about*/
/*dropdown menu*/
.dropdown label {
    color: #727272;
    opacity: .8;
    transition: .5s;
}

.dropdown label:hover {
    opacity: 1;
}

#btn-1 {
    background: none;
    border: 2px solid #008dce;
    border-radius: 10px;
    color: #008dce;
    padding: 7px;
    transition: .3s;
}

#btn-1:focus, #btn-1:hover {
    background: #008dce;
    outline: none;
    color: white;
    padding: 7px;
}

#btn-2 {
    background: none;
    border: 2px solid #eeca00;
    border-radius: 10px;
    color: #eeca00;
    padding: 7px;
    transition: .3s;
}

#btn-2:focus, #btn-2:hover {
    background: #eeca00;
    color: white;
    padding: 7px;
    outline: none;
}

.dropdown {
    display: block;
    float: right;
    /*font-size: 1.5em;*/
    margin: 30px 50px 0 0;
    transition: .5s;
}

.dropdown-menu {
    overflow: hidden;
}

.dropdown-menu a {
    color: #00a07d;
    display: block;
    text-align: right;
    padding: 5px;
    transition: .3s;
}

.dropdown-menu a:hover {
    color: #00a07d;
    background-color: #bdbdbd6b;
    text-decoration: none;
    transform: scale(1.1) translate(-5px);
}

/*dropdown menu*/
hr {
    margin: 0 125px;
}

/*cardbox*/
.card-box {
    width: 100%;
    height: 100%;
}

.card-box .row {
    margin-left: 0;
}

.col-lg-4 {
    margin: 25px 0 40px;
}

.box {
    width: 100%;
    height: 550px;
    border: 1px solid #9fa8a8;
    border-radius: 5px;
    text-align: right;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    /*left: -50px;*/
    border-top: 5px solid #0080ff;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

.box-2 {
    width: 85%;
    height: 480px;
    border: 1px solid #9fa8a8;
    border-radius: 5px;
    text-align: right;
    float: left;
    position: relative;
    margin: 0px 0px;
    border-top: 5px solid #0080ff;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

.box-3 {
    width: 85%;
    height: 480px;
    border: 1px solid #9fa8a8;
    border-radius: 5px;
    text-align: right;
    float: left;
    position: relative;
    left: 50px;
    border-top: 5px solid #0080ff;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

.box img {
    width: 100%;
    height: 280px;
    border-radius: 2.5px;
}

.box-2 img {
    width: 100%;
    height: 280px;
    border-radius: 2.5px;
}

.box-3 img {
    width: 100%;
    height: 280px;
    border-radius: 2.5px;
}

.card-name {
    font-size: 1em;
    margin: 10px 10px 25px 0;
    font-weight: 600;
}

.card-price {
    font-size: .9em;
    margin: 0 10px 20px 0;
}

.card-btn {
    width: 90%;
    /*height: 35px;*/
    margin-left: 5%;
    margin-right: 5%;
    border: none;
    border-radius: 5px;
    background-color: #ffbf00;
    font-size: 1.1em;
    font-weight: 500;
    padding: 10px 16px;
    opacity: 1;
    transition: .3s;
}

.card-btn:hover {
    background-color: #ffa600;
    opacity: .8;
}

.span-1 {
    color: white;
    background-color: #ca4942;
    padding: 5px;
    border: none;
    border-radius: 5px;
    /*position: absolute;*/
    /*right: 150px;*/
    /*bottom: 102px;*/
}

.span-2 {
    background-color: #47a447;
    padding: 5px;
    border: none;
    border-radius: 5px;
    color: white;
    /*position: absolute;*/
    /*right: 150px;*/
    /*bottom: 60px;*/
}

.tooltip-1 {
    position: absolute;
    display: inline-block;
    padding: 7px 15px;
    border-radius: 25px;
    top: -22px;
    right: -20px;
    color: white;
}

.tooltip-1 .tooltiptext-1 {
    visibility: hidden;
    width: 700%;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 2;
    top: 25px;
}

.tooltip-1:hover .tooltiptext-1 {
    visibility: visible;
}

.tooltip-2 {
    /*position: absolute;*/
    display: block;
    padding: 5px;
    border-radius: 10px;
    /*float: left;*/
    /*left: 15px;*/
    /*bottom: 100px;*/
    margin: 0 0px 20px 0;
    text-align: center;
    color: white;
}

.tooltip-2 .tooltiptext-1 {
    visibility: hidden;
    width: 500%;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 2;
    top: 25px;
    left: -80px;
}

.tooltip-2:hover .tooltiptext-1 {
    visibility: visible;
}

/*end cardbox*/
/*pageination*/
.pageination-1 {
    display: block;
    text-align: center;
    margin: 20px 0 0;
}

.pageination-1 a:last-of-type {
    padding: 7px 15px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.pageination-1 a:first-of-type {
    padding: 7px 15px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.pageination-1 a {
    color: black;
    padding: 7px 20px;
    text-decoration: none;
    border: 1px solid black;
    float: right;
    position: relative;
    right: 34.7%;
    overflow: hidden;
    transition: .3s;
    vertical-align: middle;
    overflow: hidden;
}

.pageination-1 a:hover {
    background-color: #00c431;
    color: #F0F0F0;
    text-decoration: none;
    border-bottom: 2px solid #001d49;
    transform: scale(1.2);
    z-index: 10;
}

.pageination-1 a:active {
    transform: scale(.9);
    background-color: #00b34b;
}

#act {
    background-color: #00b32d;
    color: white;
    transform: none;
}

/*end pageination*/
/*footer*/
.footer {
    width: 100%;
    height: 300px;
    background: #383f48;
    margin-top: 50px;
    border-top: 1px solid #383f48;
    overflow: hidden;
    text-align: right;
    padding: 40px 70px 0 0;
}

.footer h1 {
    font-size: 2em;
    text-align: left;
    margin: -30px 0 0 30px;
    color: #737a7a;
}

.footer .row {
    background: none;
    width: 100%;
    height: 100%;
}

.footer p:first-of-type {
    margin: 20px 0 25px;
    font-size: 1.3em;
    color: #c2caca;
}

.footer p:last-of-type {
    padding: 25px 0;
    font-size: 1.1em;
    color: #747474d7;
}

.footer a:first-of-type {
    color: #0080a0;
}

.footer a:first-of-type:hover {
    color: #00c489;
    text-decoration: none;
}

#footer-hr {
    background-image: -webkit-linear-gradient(left, transparent, hsla(0, 0%, 100%, .15), transparent);
    background-image: linear-gradient(90deg, transparent, hsla(0, 0%, 100%, .15), transparent);
    background-image: -webkit-linear-gradient(left, transparent, #dbdbdb, transparent);
    background-image: linear-gradient(90deg, transparent, #dbdbdb, transparent);
    border: 0;
    height: 1px;
    margin: 50px 5px 0 90px;
}

.footer .col-lg-4 h4 {
    font-size: 1.3em;
    padding: 90px 0 10px;
    color: #b9c5c5;
}

.footer .row .col-lg-4 a {
    padding: 3px;
    margin: 20px 0;
    opacity: .7;
    transition: .2s;
    color: rgb(0, 225, 255);
}

.footer .row .col-lg-4 a:hover {
    opacity: 1;
    color: #00b34b;
}

.footer .row .col-lg-4 .fa {
    transition: .29s;
}

.footer .row .col-lg-4 .fa:hover {
    transform: scale(1.5);
    color: white;
}


.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.thumb-info {
    text-decoration:none;
    max-width:100%;
    background-color:#fff;
    border:1px solid #ddd;
    border-radius:4px;
    /*padding: 10px;*/
    margin: 10px;
}
.detail-header {
    color: rgb(29, 33, 39);
}

.detail-card {
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    padding: 12px;
}

.detail-desc {
    color: #777;
    line-height: 24px;
    margin: 0 0 20px;
}

.detail-buttons {
    margin: 10px 0 10px 0;
}

/*end footer*/
/*end*/